<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="wrapper">
    <div id="qrcode">
        <canvas id="_canvas"></canvas>
    </div>
    <!-- <div id="text"></div> -->
    <div id="info">
        <div id="app_title"></div>
        <div id="build"></div>
        <div id="instructions"></div>
    </div>
    </body>
    <script src="../node_modules/qrcode/build/qrcode.min.js"></script>
    <script>
        require('./scripts/main.view.script.js')
    </script>
</body>
</html>